@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Roboto',  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.animated-gradient {
  background: linear-gradient(135deg, #000000 20%, #4a4a4a 50%, #20AD94 80%, #ffffff);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.gradient-text {
  background: linear-gradient(to right, #ffffff, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}


/* General error message styling */
.error-message {
  color: #D8000C; /* Red color for error text */
  background-color: #FFBABA; /* Light red background for contrast */
  padding: 5px 10px; /* Some padding around the text */
  border-radius: 4px; /* Rounded corners */
  font-size: 0.875rem; /* Slightly smaller font size */
  margin-top: 5px; /* Space between input and error message */
  animation: fadeIn 0.3s ease-in-out; /* Smooth fade-in animation */
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* sidebar */
.sidebar-enter {
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.sidebar-enter-active {
  transform: translateX(0);
}

.sidebar-exit {
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

.sidebar-exit-active {
  transform: translateX(-100%);
}


/* send btn */

.send::before{
  content: "";
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all 1s;
  z-index: -1;
}

.send:hover::before{
  transform: scaleX(1);
}




